.NovoPedidoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonApagarDepois{
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 30px;
    border: 1px solid black;
}

.botoesPedido{
    display: flex;
    flex-direction: row;
}

.apagarDepois{
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}


.NovoPedidoContainerLista{
    width: 500px;
}

.listaProdutos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
}

.NovoPedidoContainerLista{
    display: flex;
    flex-direction: row;
}


.adicionaERemoveProduto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listaGrupoPedido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.listaPedido{
    width: 80%;
}

.listaPedidos{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid black;
}

.cardPedido{
    background-color: rgb(23, 23, 104);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.buttonFinalizarPedido{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(69, 69, 252);
    color: white;    
}

.buttonFinalizarPedido:hover{
    background-color: rgb(163, 163, 238);
    color: black;
}

.buttonEditarPedido{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(92, 97, 24);
    color: white;     
}

.buttonEditarPedido:hover{
    background-color: rgb(241, 241, 195);
    color: black;
}

.buttonRealizarBaixa{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(16, 107, 39);
    color: white;
    
}

.buttonRealizarBaixa:hover{
    background-color: rgb(163, 163, 238);
    color: black;
}

.buttonCancelarPedido{
    border: 2px solid black;
    background-color: rgb(238, 5, 56);
    padding: 5px;
    color: white;
}

.buttonCancelarPedido:hover{
    background-color: rgb(243, 145, 166);
    color: black;
}

#divSalvarPedido{
    position: fixed;
    width: 50%;
    height: 50%;
    top: 10px;
    background-color: white;
    transition: ease-in-out 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.listaMesa{    
    border: 1px solid;
    cursor: pointer;
    width:60px;
    height:60px;
    border-radius: 5px;
}

.listaMesa:hover{
    background: rgb(111, 111, 255);
    color: white;
}
