*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.cardContainer{
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;  
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    z-index: 0;
}

.cardContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 30px; 
    height: 100%; 
}

.statusPedido{
    font-size: 15px;
}


.cardPrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;   
    gap:25px;  
}

.cardPrincipalTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;    
    font-weight: 700;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.cardNomeGrupoPedido{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    color: #3d3d3d;
    border: 1px solid rgb(110, 110, 110); 
    background: #cacaca;
    width: 100%;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCancelar{
    background-color: rgb(255, 64, 64);
    color: #fff;
    width: 130px;
    height: 50px;
    border-radius: 8px;    
    font-weight: 500;
}

.buttonEditar{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    background-color: #0E4C75;
    color: #fff;    
    font-weight: 500;
}

.cardInfo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 700;
    font-size: 17px;
    align-items: center;
}

.cardButton{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.mainCard{    
    width: 100%;
}

.iconMenu{
    font-size: 25px;        
    margin-right: -10px;    
    padding: 5px;
}

.divCardVerPedido{
    display: flex;
    justify-content: center;    
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #2b2b2b;
    border-top: 0.5px solid black;  

}

.mostrarPedido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    color: black;
    border-top: none;
    font-size: 18px;
}

.divCardListProduct{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    border-top: 0.5px solid black;    
    margin: 10px 0;    
}

.divCardListProduct p{  
    margin-top: 5px;    
}

.divCardListProduct p:first-child{  
    width: 50%;
}

.cardListProduct{    
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.divCardListProduct{
    display: none; 
}

.divCardListProductMostrar{
    display: flex;
}

.cardDataEntrada{
    margin: 0;
}

.divContainerMesa{
    width: 90%;   
    margin: 50px 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
}

.divButtonMesa{
    width: 50px;
}

.butonMesa{
    padding: 5px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: #fff;
    background: #3fa060;
    font-weight: 500;
}

.mesaOcupada{
    background: #f15555;
}

.mesaAdicional{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardContent{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    gap: 30px;    
}


.menuContainer{    
    overflow: hidden;        
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;           
    height: 100%;
    width: 100%;       
    border-radius: 10px;     
}

.menuTop{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    overflow: hidden;
    padding-top: 20px; 
}

.closeButtonMenu{
    font-weight: 300;
    font-size: 23px;
    overflow: hidden;
}

.menuItems{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menuItems button{
    font-weight: 500;
    width: 100%;
    padding: 15px;
}

.menuItems button:hover{
    background: #777171;
}

.divMostrarObservacao{

    width: 100%;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.textareaObservacao{    
    height: 90%;
    outline: none;
    width: 100%;
    border: 1px solid #333;
}

.buttonObservacao{
    background: #3282B8;
    padding: 10px;
    width: 100px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}