.loader_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    max-width: 100%; /* Torna a imagem responsiva */
    height: auto; /* Ajusta a altura automaticamente */
}
